{% extends 'base.html' %}
{% load qr_code %}
{% load fullurl %}
{% load fontawesome %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="btn-group float-right">
      {% url 'movingbox:print_furniture' furniture.id as print_url %}
      {% buildfullurl print_url as print_furniture_full_url %}
      {% sanitize print_furniture_full_url as print_furniture_url %}
      <a href="#" class="text-primary btn btn-sm"
         onclick="window.open('{{ print_furniture_url }}');">
        {% fontawesome_icon 'print' %}
      </a>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {% fontawesome_icon 'qrcode' %} QR Code
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item">
          {% buildfullurl request.path as furniture_url %}
          <img class="qr-code img-fluid img-thumbnail"
               src="{% qr_url_from_text furniture_url size='S' image_format='png' version=1 %}" alt="QR Code">
        </div>
      </div>
    </div>
    <h5 class="card-title">{{ furniture.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Room:
      <a class="card-link" href="{% url 'movingbox:get_room' furniture.room.id %}">{{ furniture.room.room_name }}</a>
    </h6>
  </div>
</div>
{% endblock %}
