{% extends 'base.html' %}

{% block content %}
{% if furnitures.count > 0 %}
{% include 'object_table.html' with objects=furnitures object_type='Furniture' paginator_page=page_obj %}
{% else %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Furnitures</h5>
    <p class="card-text">No furnitures are available.</p>
  </div>
</div>
{% endif %}
{% endblock %}
