{% extends 'base.html' %}
{% load bootstrap4 %}
{% load fontawesome %}

{% block content %}
{% if not is_user_edition and user.id != request.user.id %}
<div class="text-danger">
  Invalid request
</div>
{% else %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">About your account</h5>
    <p class="card-text">
    <form class="needs-validation" action="" method="post">
      {% csrf_token %}
      <div class="form-group row align-items-center">
        <label class="form-label mb-0 col-md-3" for="username">Login</label>
        <input type="text" class="form-control-plaintext text-muted font-weight-bold  col-md-9" name="username"
               id="username" value="{{ user.username }}" readonly>
      </div>
      {% bootstrap_form account_form layout="horizontal" size="small" label_class="form-label col-md-3" %}
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <button class="form-button btn btn-primary w-100" type="submit">
            {% fontawesome_icon 'save' %} Save
          </button>
          {% endbuttons %}
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <a class="form-button btn btn-info w-100"
             href="{% url 'movingbox:update_password' request.user.id %}">
            {% fontawesome_icon 'lock' %} Update password
          </a>
          {% endbuttons %}
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <a class="form-button btn btn-secondary w-100" href="{{ cancel_url }}">
            {% fontawesome_icon 'times-circle' %} Cancel
          </a>
          {% endbuttons %}
        </div>
      </div>
    </form>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
