{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Login to your account</h5>
    <p class="card-text">
    <form class="needs-validation" action="{% url 'movingbox:post_login' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="user-login">Login: </label>
        <input type="text" class="form-control" name="user_login" id="user-login"
               placeholder="Enter login" value="{{ user_login }}" required>
      </div>
      <div class="form-group">
        <label for="user-password">Password: </label>
        <input type="password" class="form-control" name="user_password" id="user-password"
               placeholder="Enter password" value="{{ user_password }}" required>
      </div>
      <input type="hidden" name="target_url" id="target-url" value="{{ target_url }}">
      <button class="btn btn-primary" type="submit">{% fontawesome_icon 'user' %} Login</button>
    </form>
    </p>
  </div>
</div>
{% endblock %}
