@media print {
  body.printable h1,
  body.printable h2 {
    text-align: center;
    width: 100%;
    margin: 10mm 0mm;
  }
  .page {
    display: block;
    page-break-before: always;
    break-before: always;
    width: 210mm;
    height: 297mm;
    margin: 16mm;
  }
  .footer {
    width: 100%;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 100px;
  }
  @page {
    size: 210mm 297mm;
  }
  .img-container {
    width: 100%;
    text-align: center;
  }
  .qr-code {
    width: calc(100% - 2 * (25.4mm));
    padding: 0px;
    margin: auto;
  }
}
