html,
body,
.container-fluid {
  max-height: 100%;
}

a, th {
  white-space: nowrap;
}

.table tr > th,
.table tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.navbar.fixed-bottom {
  z-index: 1019;
}

.breadcrumb {
  align-items: baseline;
  z-index: 1018;
}

.breadcrumb li.actions {
  height: 24px;
  align-items: center;
  display: flex;
  max-width: 100%;
}

.breadcrumb li.actions > a.btn {
  text-overflow: ellipsis;
  overflow: hidden;
}

.alert {
  margin-bottom: 0px;
}

.container-fluid {
  margin-bottom: 50px;
}

.table tr.paginator-per-page > td {
  padding: 5px;
  border-bottom-width: 0px;
}

.img-wrapper {
  max-height: 300px;
  min-height: 300px;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  transform-style: preserve-3d;
}

.img-wrapper::before {
  content: attr(alt-msg);
  background-color: transparent;
  display: block;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
  transform: translateZ(-1px);
}

.carousel {
  height: 100%;
}

.carousel-indicators {
  position: fixed;
  z-index: 1017;
  bottom: 0px;
  height: 20px;
  padding-top: 5px;
}

.carousel-indicators li {
  height: 10px;
}

.carousel-inner {
  min-height: 300px;
  width: 80%;
  margin: auto;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 1016;
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 10%;
  outline: black;
  background-size: 100%, 100%;
  border: none;
  background-image: none;
  position: fixed;
  top: 50%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
}

img.qr-code {
  width: 300px;
  max-width: 300px;
}
