{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load fontawesome %}

{% block content %}
{% if not is_user_edition and user.id != request.user.id %}
<div class="text-danger">
  Invalid request
</div>
{% else %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Change {% if is_user_edition %}user{% else %}your{% endif %} password</h5>
    <p class="card-text">
    <form class="needs-validation" action="" method="post">
      {% csrf_token %}
      <div class="form-group row">
        <label class="form-label col-md-3" for="username">Login</label>
        <input type="text" class="form-control-plaintext col-md-9" name="username" id="username"
               value="{{ user.username }}" readonly>
      </div>
      {% bootstrap_form password_form layout="horizontal" size="small" label_class="form-label col-md-3" %}
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <button class="form-button btn btn-primary w-100" type="submit">
            {% fontawesome_icon 'save' %} Update password
          </button>
          {% endbuttons %}
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <a class="form-button btn btn-secondary w-100" href="
            {% if is_user_edition %}
              {% url 'movingbox:update_user' user.id %}
            {% else %}
              {% url 'movingbox:account' user.id %}
            {% endif %}
            ">
            {% fontawesome_icon 'times-circle' %} Cancel
          </a>
          {% endbuttons %}
        </div>
      </div>
    </form>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
