{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">User #{{ user.id }}</h5>
    <h6 class="card-subtitle mb-2 font-weight-bold text-muted">
      {{ user.username }}
    </h6>
    <p class="card-text">

    <div class="form-group row align-items-center">
      <label class="form-label mb-0 col-md-3" for="first_name">First Name</label>
      <input type="text" class="form-control-plaintext font-weight-bold col-md-9" name="first_name"
             id="first_name"
             value="{{ user.first_name }}" placeholder="No First Name" readonly>
    </div>
    <div class="form-group row align-items-center">
      <label class="form-label mb-0 col-md-3" for="last_name">Last Name</label>
      <input type="text" class="form-control-plaintext font-weight-bold col-md-9" name="last_name" id="last_name"
             value="{{ user.last_name }}" placeholder="No Last Name" readonly>
    </div>
    <div class="form-group row align-items-center">
      <label class="form-label mb-0 col-md-3" for="email">Email</label>
      <input type="text" class="form-control-plaintext font-weight-bold col-md-9" name="email" id="email"
             value="{{ user.email }}" placeholder="No email" readonly>
    </div>
    <div class="form-group row">
      <label class="form-label col-md-3" for="first_name">Groups</label>
      <select multiple class="form-control custom-select col-md-9" name="groups" id="groups">
        {% for group in user.groups.all|sort_groups %}
        <option value="{{ group.name }}" disabled>{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
    </p>
  </div>
</div>
{% endblock %}
