{% extends 'base.html' %}

{% block content %}
{% if users.count > 0 %}
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col" class="d-none d-md-table-cell">First Name</th>
    <th scope="col" class="d-none d-md-table-cell">Last Name</th>
    <th scope="col" class="d-table-cell d-md-none">Name</th>
    <th scope="col" class="d-none d-md-table-cell">Email</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  {% for user in users|sort_users %}
  <tr>
    <th scope="row">
      {% if request.user.is_resident %}
      <a href="{% url 'movingbox:get_user' user.id %}">{{ user.username }}</a>
      {% else %}
      {{ user.username }}
      {% endif %}
    </th>
    <td class="d-none d-md-table-cell">{{ user.first_name }}</td>
    <td class="d-none d-md-table-cell">{{ user.last_name }}</td>
    <td class="d-table-cell d-md-none">
      {{ user.first_name }}&nbsp;{{ user.last_name.0 }}{% if user.last_name|length > 0 %}.{% endif %}
    </td>
    <td class="d-none d-md-table-cell">{{ user.email }}</td>
    <td>{{ user|get_group }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Users</h5>
    <p class="card-text">No users are available.</p>
  </div>
</div>
{% endif %}
{% endblock %}
