<!DOCTYPE html>
{% load bootstrap4 %}
{% load fontawesome %}
{% load filters %}
{% load tags %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" >
  {% block header %}
  {% endblock %}
  {% fontawesome_stylesheet %}
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'movingbox:index' %}">Moving Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movingbox:get_rooms' %}">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movingbox:get_boxes' %}">Boxes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movingbox:get_furnitures' %}">Furnitures</a>
      </li>
      {% if request.user.is_resident %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movingbox:get_items' %}">Items</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movingbox:get_users' %}">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      {% if request.user.is_resident %}
      <li class="nav-item dropdown d-xs-block d-sm-none">
        <a class="dropdown-toggle nav-link my-2" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          {% with 'search-items' as input_id %}
          {% with 'w-auto mr-auto ml-auto' as input_class %}
          {% include 'search_items_form.html' %}
          {% endwith %}
          {% endwith %}
        </div>
      </li>
      <li class="nav-item dropdown d-none d-sm-block">
        {% with 'search-items-inline' as input_id %}
        {% with 'my-2 my-md-0 mx-2' as form_class %}
        {% with 'mr-sm-2' as input_class %}
        {% with 'my-2 my-sm-0' as button_class %}
        {% include 'search_items_form.html' %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="dropdown-toggle text-success nav-link" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Account</b>
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="userDropdown">
          <h6 class="dropdown-header text-light">Connected as
            <b>{{ request.user.first_name|default:request.user }}</b>
            ({{ request.user }})
          </h6>
          <a class="dropdown-item text-light bg-dark" href="{% url 'movingbox:account' request.user.id %}">
            {% fontawesome_icon 'edit' %} Account settings
          </a>
          {% if request.user.is_authenticated and request.user.is_superuser %}
          <a class="dropdown-item text-light bg-dark" href="{% url 'app_admin:index' %}">
            {% fontawesome_icon 'cogs' %} Admin Site
          </a>
          {% endif %}
          <div class="dropdown-divider text-light bg-dark"></div>
          <a class="dropdown-item text-danger bg-dark" href="{% url 'movingbox:logout' %}">
            <b>{% fontawesome_icon 'sign-out' %} Logout</b>
          </a>
        </div>
      </li>
      {% else %}
      <li>
        <a class="btn btn-primary" href="{% url 'movingbox:login' %}">
          {% fontawesome_icon 'user' %} <b>Login</b>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<div>
  {% bootstrap_messages %}
</div>
{% block sitemap %}
{% include 'sitemap.html' %}
{% endblock %}
<div class="container-fluid">
  {% block content %}
  {% endblock %}
</div>
<nav class="navbar d-none d-sm-block fixed-bottom navbar-expand navbar-dark bg-dark py-0 my-0">
  <ul class="navbar-nav py-0 my-0">
    <li class="nav-item mr-auto">
      <span class="nav-link">{{ app_settings|get_item:'bottom_text' }}</span>
    </li>
    <li class="nav-item ml-auto dropup">
      <a class="dropdown-toggle nav-link" href="#" id="repoDropup" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Moving Box
      </a>
      <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="repoDropup">
        <h6 class="dropdown-header text-light">Developed by
          <b><a class="text-warning" target=_blank" href="https://gitlab.com/nemolovich">
            {% fontawesome_icon 'gitlab' %} Nemolovich
          </a></b>
        </h6>
        <a class="nav-link" target=_blank" href="https://gitlab.com/nemolovich/moving-box">
          {% fontawesome_icon 'code' %} Moving Box - Gitlab repository
        </a>
        <a class="nav-link" target=_blank" href="https://hub.docker.com/r/nemolovich/movingbox">
          {% fontawesome_icon 'cube' %} Moving Box - Docker Hub
        </a>
      </div>
    </li>
  </ul>
</nav>
</body>
</html>
