{% extends 'base.html' %}
{% load bootstrap4 %}
{% load fontawesome %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ form_title }}</h5>
    {% if delete_element %}
    <h6 class="card-title">{{ confirmation_msg }}</h6>
    {% endif %}
    <p class="card-text">
    <form class="needs-validation" action="" method="post">
      {% csrf_token %}
      {% if not delete_element %}
      {% bootstrap_form element_form layout="horizontal" size="small" label_class="form-label col-md-3" %}
      {% endif %}
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <button class="form-button btn btn-{{ submit_color }} w-100" type="submit">
            {% fontawesome_icon submit_icon %} {{ submit_button }}
          </button>
          {% endbuttons %}
        </div>
        {% if extra_button %}
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
            {% buttons %}
            <a class="form-button btn btn-{{ extra_button.color }} w-100" href="{{ extra_button.url }}">
              {% fontawesome_icon extra_button.icon %} {{ extra_button.text }}
            </a>
            {% endbuttons %}
          </div>
        {% endif %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-7 col-xs-12">
          {% buttons %}
          <a class="form-button btn btn-secondary w-100" href="{{ cancel_url }}">
            {% fontawesome_icon 'times-circle' %} Cancel
          </a>
          {% endbuttons %}
        </div>
      </div>
    </form>
    </p>
  </div>
</div>
{% endblock %}}
