{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content %}
<div class="card">
  <div class="img-wrapper"
       alt-msg="Image (APP_HOME_IMAGE)"
       style="background-image: url({% static home_image %});">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ home_title }}</h5>
    <p class="card-text">{{ home_message }}</p>
    {% if not request.user.is_authenticated %}
    <p>Please login to see the content.</p>
    <a href="{% url 'movingbox:login' %}" class="btn btn-primary col-xs-12 col-sm-auto">{% fontawesome_icon 'user' %}
      Login
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
