<table class="table table-striped table-bordered">
  {% if display_header %}
  <thead>
  {% if is_paginated %}
  {% include 'paginator_header.html' with nb_cols=2 %}
  {% endif %}
  <tr>
    <th scope="col">{{ object_type }} Name</th>
    {% if display_room %}
    <th scope="col">Room Name</th>
    {% endif %}
  </tr>
  </thead>
  {% endif %}
  <tbody>
  {% for object in objects|sort_items_furnitures %}
  <tr>
    <th scope="col">
      {% if from_room is not None %}

      {% if object.box is not None %}
      <a href="{% url 'movingbox:get_room_box_item' from_room object.box.box_number object.id %}">
        {{ object.name }}
      </a>
      {% else %}
      <a href="{% url 'movingbox:get_room_furniture' from_room object.id %}">{{ object.name }}</a>
      {% endif %}

      {% else %}

      {% if object.box is not None %}
      <a href="{% url 'movingbox:get_item' object.id %}">{{ object.name }}</a>
      {% else %}
      <a href="{% url 'movingbox:get_furniture' object.id %}">{{ object.name }}</a>
      {% endif %}

      {% endif %}
    </th>
    {% if display_room %}
    <td scope="col">
      {% if object.box is not None %}
      <a href="{% url 'movingbox:get_room' object.box.room.id %}">{{ object.box.room.room_name }}</a>
      {% else %}
      <a href="{% url 'movingbox:get_room' object.room.id %}">{{ object.room.room_name }}</a>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
  {% if is_paginated and paginator_page.paginator.per_page < paginator_page.paginator.count %}
  <tfoot>
  <tr>
    <td colspan="2" class="justify-content-center w-100 text-center p-1 m-0">
      {% include 'object_paginator.html' %}
    </td>
  </tr>
  </tfoot>
  {% endif %}
</table>
