{% get_or_else page_attr 'page' as page_attr %}
{% get_or_else per_page_attr 'per_page' as per_page_attr %}
{% get_or_else objects_type object_type|concat:'s' as objects_type %}
{% sub_dict request_kwargs page_attr per_page_attr as kwargs %}
{% with kwargs|get_url_separator as url_separator %}
{% with request.path|url_kwargs:kwargs as request_path %}
<script>
  function change_select(select, path, page_attr, per_page_attr) {
    window.location.href = path + page_attr + '=1&' + per_page_attr + '=' + select.value;
  }
</script>
<tr class="paginator-per-page">
  <td scope="col" colspan="{{ nb_cols }}">
      <span class="input-group-text float-left">
        <span class="d-none d-sm-inline">{{ objects_type }}&nbsp;</span><b>{{ paginator_page.start_index }}</b>
        &nbsp;to&nbsp;<b>{{ paginator_page.end_index }}</b>
        &nbsp;on&nbsp;<b>{{ paginator_page.paginator.count }}</b>
      </span>
    <div class="input-group float-right w-auto">
      <div class="input-group-prepend">
        <label class="input-group-text" for="{{ per_page_attr }}">
          <span class="d-none d-sm-inline">{{ objects_type }} per page:</span>
          <span class="d-inline d-sm-none">#</span>
        </label>
      </div>
      <select class="custom-select" id="{{ per_page_attr }}"
              onchange="change_select(this, '{{ request_path|safe }}{{ url_separator|safe }}', '{{ page_attr }}', '{{ per_page_attr }}')">
        {% for paginate_by in app_settings|get_item:'per_page_values' %}
        {% if paginate_by == paginator_page.paginator.per_page %}
        <option selected="selected" value="{{ paginate_by }}">{{ paginate_by }}</option>
        {% else %}
        <option value="{{ paginate_by }}">{{ paginate_by }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </td>
</tr>
{% endwith %}
{% endwith %}
