{% get_or_else page_attr 'page' as page_attr %}
{% sub_dict request_kwargs page_attr as kwargs %}
{% with kwargs|get_url_separator as url_separator %}
<nav aria-label="Items list" class="{{ display_class }} btn-group">
  {% with request.path|url_kwargs:kwargs as request_path %}
  {% if paginator_page.has_previous %}
  <a class="{{arrow_class}} btn btn-secondary"
     href="{{ request_path }}{{ url_separator }}{{ page_attr }}={{ paginator_page.previous_page_number }}">
    &laquo;
  </a>
  {% else %}
  <a class="{{arrow_class}} btn btn-secondary disabled" href="#">&laquo;</a>
  {% endif %}
  {% for i in paginator_page.paginator.page_range %}
  {% with pages_arround|add:1 as center_first %}
  {% with paginator_page.paginator.num_pages|substract:1 as prev_last %}
  {% with paginator_page.paginator.num_pages|substract:pages_arround as center_last %}
  {% if i <= paginator_page.number|add:pages_arround and i >= paginator_page.number|substract:pages_arround %}
  {% if paginator_page.number == i %}
  <a class="{{btn_class}} btn btn-secondary disabled" href="#">
    {{ i }}
    <span class="sr-only">
        (current)
    </span>
  </a>
  {% else %}
  <a class="{{btn_class}} btn btn-light"
     href="{{ request_path }}{{ url_separator }}{{ page_attr }}={{ i }}">
    {{ i }}
  </a>
  {% endif %}
  {% elif i == 1 %}
  <a class="{{btn_class}} btn btn-light" href="{{ request_path }}{{ url_separator }}{{ page_attr }}=1">1</a>
  {% elif i == 2 and paginator_page.number > center_first or i == prev_last and paginator_page.number < center_last %}
  <a class="{{more_class}} btn btn-secondary disabled" href="#">...</a>
  {% elif i == paginator_page.paginator.num_pages %}
  <a class="{{btn_class}} btn btn-light"
     href="{{ request_path }}{{ url_separator }}page={{ paginator_page.paginator.num_pages }}">
    {{ paginator_page.paginator.num_pages }}
  </a>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endfor %}
  {% if paginator_page.has_next %}
  <a class="{{arrow_class}} btn btn-secondary"
     href="{{ request_path }}{{ url_separator }}{{ page_attr }}={{ paginator_page.next_page_number }}">
    &raquo;
  </a>
  {% else %}
  <a class="{{arrow_class}} btn btn-secondary disabled" href="#">&raquo;</a>
  {% endif %}
  {% endwith %}
</nav>
{% endwith %}
