{% extends 'base.html' %}
{% load fontawesome %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Restricted Area</h5>
    <p class="card-text">
      You cannot access to this page with your current profile.
      <br>
      Please contact administrator to get access.
    </p>
  </div>
</div>
{% endblock %}
