{% load fontawesome %}
<form class="form-inline {{ form_class }}" action="{% url 'movingbox:post_search_items' %}"
      method="post" id="{{ input_id }}-form">
  {% csrf_token %}
  <input class="form-control {{ input_class }}" type="search" placeholder="Search Item/Furniture"
         aria-label="Search Item/Furniture" name="item_name" id="{{ input_id }}" value="{{ item_name }}"
         minlength="1">
  <button class="btn btn-primary {{ button_class }}" type="submit">{% fontawesome_icon 'search' %} Search</button>
</form>
<script>
$(document).ready(() => {
    $('#{{ input_id }}-form').on('submit', () => {
        let input_val = $('#{{ input_id }}').val();
        return !!(input_val);
    });
});
</script>
