{% load fontawesome %}

{% to_list name_key url_key as parent_key %}
{% to_list elements_key parent_key as tuple %}
{% if sitemap is not None %}
{% with sitemap|flat_map:tuple as sitemap_items %}
{% if sitemap_items|get_key_list:url_match_key|any_match:current_path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% to_list current_path url_match_key request.path as match_param %}
    {% with sitemap_items|first_match:match_param as item %}
    {% to_list name_key item.parents url_key as items_params %}
    {% with sitemap_items|get_items:items_params as sitemap_list %}

    {% with sitemap_list|get_key_list:buttons_key|concat_item:item.buttons|flat_list as buttons %}

    {% for parent in sitemap_list %}
    <li class="breadcrumb-item"><a href="{{ parent.url }}">{{ parent.name }}</a></li>
    {% endfor %}

    <li class="breadcrumb-item active" aria-current="page" aria-flowto="{{ item.url }}">{{ item.name }}</li>

    {% with item.buttons|get_key_list:'config'|get_key_list:'sub_button'|length as nb_sub_buttons %}
    {% if buttons|length > 0 and not item.disable_buttons or nb_sub_buttons > 0 %}
    <hr class="d-block d-sm-none mt-2 mb-2 w-100">
    <li class="actions ml-auto">
      {% for button in buttons %}

      {% if not item.disable_buttons or button.config.sub_button and button in item.buttons %}
      {% if button.condition|resolve_condition:button_conditions %}
      <a class="mr-2 btn btn-sm {{ button.config.class }}" href="{{ button.url }}">
        {% if button.config.icon %}
        {% fontawesome_icon button.config.icon %}
        {% endif %}
        {{ button.name }}
      </a>
      {% endif %}
      {% endif %}
      {% endfor %}
    </li>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% endwith %}
  </ol>
</nav>
{% endif %}
{% endwith %}
{% endif %}
