<!DOCTYPE html>
{% load bootstrap4 %}
{% load fontawesome %}
{% load filters %}
{% load tags %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link media="print" rel="stylesheet" type="text/css" href="{% static 'printer.css' %}">
  {% block header %}
  {% endblock %}
  {% fontawesome_stylesheet %}
  <script>
        $(document).ready(() => {
            window.document.body.onafterprint = () => {
                window.open('', '_self', '');
                window.close();
            };
            window.print();
        });
  </script>
</head>
<body class="printable">
{% block content %}
{% endblock %}
</body>
</html>
