{% load qr_code %}
{% load fullurl %}

<div class="card page">
  <h1 class="card-title">{{ print_title }}</h1>
  <h2 class="card-subtitle text-muted">Room: {{ room.room_name }}</h2>
  <div class="img-container">
    {% buildfullurl element_url as full_target_url %}
    {% sanitize full_target_url as target_url %}
    <img class="qr-code img-fluid img-thumbnail"
         src="{% qr_url_from_text target_url size='S' image_format='png' version=1 %}" alt="QR Code">
    {{ target_url }}
  </div>
  <div class="footer">
    {% url 'movingbox:index' as index_url %}
    {% buildfullurl index_url as full_index_url %}
    {% sanitize full_index_url as server_index_url %}
    Printed from {{ server_index_url }}
    <br>
    Under GPL V3: https://gitlab.com/nemolovich/moving-box/raw/master/LICENSE
  </div>
</div>
