{% with room.boxes.all as boxes %}
{% with room.furnitures.all as furnitures %}
{% load fontawesome %}
{% load fullurl %}
<div class="card">
  <div class="card-body">
    <div class="btn-group float-right">
      {% url 'movingbox:print_room' room.id as print_url %}
      {% buildfullurl print_url as print_room_full_url %}
      {% sanitize print_room_full_url as print_room_url %}
      <a href="#" class="text-primary btn btn-sm"
         onclick="window.open('{{ print_room_url }}');">
        {% fontawesome_icon 'print' %}
      </a>
    </div>
    <h5 class="card-title">
      {% if display_link %}
      <a href="{% url 'movingbox:get_room' room.id %}">{% fontawesome_icon 'external-link' %}</a>
      {% endif %}
      {{ room.room_name }}
    </h5>
    {% if request.user.is_resident %}
    <a class="btn btn-sm btn-outline-success" href="{% url 'movingbox:add_box_to_room' room.id %}">
      {% fontawesome_icon 'plus-square' %} Add a Box
    </a>
    <br>
    {% endif %}
    {% if boxes.count > 0 %}
    <span class="card-title">Contains {{ boxes.count }} box{% if boxes.count > 1 %}es{% endif %}:</span>
    <p class="card-text">
      {% include 'box/boxes_table.html' with from_room=room.id %}
    </p>
    {% else %}
    <p class="card-text">No boxes.</p>
    {% endif %}
    {% if request.user.is_resident %}
    <a class="btn btn-sm btn-outline-success" href="{% url 'movingbox:add_furniture_to_room' room.id %}">
      {% fontawesome_icon 'plus-square' %} Add a Furniture
    </a>
    <br>
    {% endif %}
    {% if furnitures.count > 0 %}
    <span class="card-title">Contains {{ furnitures.count }} furniture{% if furnitures.count > 1 %}s{% endif %}:</span>
    <p class="card-text">
      {% include 'object_table.html' with objects=furnitures object_type='Furniture' from_room=room.id %}
    </p>
    {% else %}
    <p class="card-text">No furnitures.</p>
    {% endif %}
  </div>
</div>
{% endwith %}
{% endwith %}
