{% extends 'base.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
<script>
$(document).ready(() => {
    $(".carousel").swipe({
      swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
        if (direction == 'left') $(this).carousel('next');
        if (direction == 'right') $(this).carousel('prev');
      },
      allowPageScroll:"vertical"
    });
    $('[data-toggle="tooltip"]').tooltip()
});
</script>
{% endblock %}

{% block actions %}
{% if request.user.is_resident %}
<a class="btn btn-sm btn-outline-success" href="#">Add room</a>
{% endif %}
{% endblock %}
{% block content %}
{% if rooms.count > 0 %}
{% with rooms|sort_rooms as sorted_rooms %}
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover">
  <ol class="carousel-indicators bg-dark mb-1 mb-sm-5">
    {% for room in sorted_rooms %}
    <li data-target="#carousel" data-slide-to="{{ sorted_rooms|get_index:room }}"
        class="{% if room.id == selected_room_id %}active{% endif %}"
        data-toggle="tooltip" data-placement="bottom" title="{{ room.room_name }}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for room in sorted_rooms %}
    <div class="carousel-item {% if room.id == selected_room_id %}active{% endif %}">
      {% include 'room/room_info.html' with display_link=True %}
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev text-dark" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next text-dark" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endwith %}
{% else %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Rooms</h5>
    <p class="card-text">No rooms are available.</p>
  </div>
</div>
{% endif %}
{% endblock %}
