{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">
    <div>
      Room:
      <a class="card-link" href="{% url 'movingbox:get_room' item.box.room.id %}">
        {{ item.box.room.room_name }}
      </a>
    </div>
    <div>
      Box:
      {% if request_args.0 == item.box.room.id and request_args.1 == item.box.box_number and request_args.2 == item.id %}
      <a class="card-link" href="{% url 'movingbox:get_room_box' item.box.room.id item.box.box_number %}">Box
        #{{ item.box.box_number}}
      </a>
      {% else %}
      <a class="card-link" href="{% url 'movingbox:get_box' item.box.box_number %}">Box
        #{{ item.box.box_number}}
      </a>
      {% endif %}
    </div>
    </p>
  </div>
</div>
{% endblock %}
