{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block content %}
{% if display_all_items %}
{% include 'object_table.html' with object_type='Item' %}
{% else %}
<div class="card">
  <div class="card-body">
    {% if display_all %}
    <h5 class="card-title">{{ name_query }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ items|length }} items / {{ furnitures|length }} furnitures</h6>
    <p class="card-text">
      {% include 'object_table.html' with object_type='Item/Furniture' %}
    </p>
    {% else %}
    <h5 class="card-title">Result for "{{ name_query }}"</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ items|length }} matching items</h6>
    <p class="card-text">
      {% include 'object_table.html' with object_type='Item' objects=items_paginator_page paginator_page=items_paginator_page per_page_attr=items_per_page_attr page_attr=items_page_attr %}
    </p>
    <h6 class="card-subtitle mb-2 text-muted">{{ furnitures|length }} matching furnitures</h6>
    <p class="card-text">
      {% include 'object_table.html' with object_type='Furniture' objects=furnitures_paginator_page paginator_page=furnitures_paginator_page per_page_attr=furnitures_per_page_attr page_attr=furnitures_page_attr %}
    </p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
