{% extends 'base.html' %}
{% load qr_code %}
{% load fullurl %}
{% load fontawesome %}


{% block sitemap %}
{% include 'sitemap.html' %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="btn-group float-right">
      {% url 'movingbox:print_box' box.box_number as print_url %}
      {% buildfullurl print_url as print_box_full_url %}
      {% sanitize print_box_full_url as print_box_url %}
      <a href="#" class="text-primary btn btn-sm"
         onclick="window.open('{{ print_box_url }}');">
        {% fontawesome_icon 'print' %}
      </a>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {% fontawesome_icon 'qrcode' %} QR Code
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item">
          {% buildfullurl request.path as box_url %}
          <img class="qr-code img-fluid img-thumbnail"
               src="{% qr_url_from_text box_url size='S' image_format='png' version=1 %}" alt="QR Code">
        </div>
      </div>
    </div>
    <h5 class="card-title">Box #{{ box.box_number }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Room:
      <a class="card-link" href="{% url 'movingbox:get_room' box.room.id %}">{{ box.room.room_name }}</a>
    </h6>
    {% if request.user.is_resident and box.items.all|length > 0 %}
    <p class="card-text">
      Items ({{ box.items.count }}):
    <ul>
      {% for item in box.items.all|sort_items %}
      {% if request_args.0 == box.room.id and request_args.1 == box.box_number %}
      <li>
        <a class="card-link" href="{% url 'movingbox:get_room_box_item' box.room.id box.box_number item.id %}">
          {{ item.name }}
        </a>
      </li>
      {% else %}
      <li><a class="card-link" href="{% url 'movingbox:get_box_item' box.box_number item.id %}">{{ item.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    </p>
    {% elif not request.user.is_resident %}
    {% else %}
    <p class="card-text">No items are available.</p>
    {% endif %}
    {% if request.user.is_resident %}
    <a class="btn btn-sm btn-outline-success" href="{% url 'movingbox:add_item_to_box' box.box_number %}">
      {% fontawesome_icon 'plus-square' %} Add an Item
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
