<table class="table table-striped table-bordered">
  {% if display_header %}
  <thead>
  {% if is_paginated %}
  {% include 'paginator_header.html' with nb_cols=2 object_type='Box' objects_type='Boxes' %}
  {% endif %}
  <tr>
    <th scope="col">Box <span class="d-none d-md-inline-block">number</span><span
      class="d-inline-block d-md-none">#</span></th>
    {% if display_room %}
    <th scope="col">Room</th>
    {% endif %}
  </tr>
  </thead>
  {% endif %}
  <tbody>
  {% for box in boxes|sort_boxes %}
  <tr>
    {% if from_room is not None %}
    <th scope="row">
      <a href="{% url 'movingbox:get_room_box' from_room box.box_number %}">Box #{{ box.box_number }}</a>
    </th>
    {% else %}
    <th scope="row"><a href="{% url 'movingbox:get_box' box.box_number %}">Box #{{ box.box_number }}</a></th>
    {% endif %}
    {% if display_room %}
    <td><a href="{% url 'movingbox:get_room' box.room.id %}">{{ box.room.room_name }}</a></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
  {% if is_paginated and paginator_page.paginator.per_page < paginator_page.paginator.count %}
  <tfoot>
  <tr>
    <td colspan="2" class="justify-content-center w-100 text-center p-1 m-0">
      {% include 'object_paginator.html' %}
    </td>
  </tr>
  </tfoot>
  {% endif %}
</table>
