{% extends 'base.html' %}

{% block content %}
{% if boxes.count > 0 %}
{% include 'box/boxes_table.html' %}
{% else %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Boxes</h5>
    <p class="card-text">No boxes are available.</p>
  </div>
</div>
{% endif %}
{% endblock %}
